<div class="form-group">
    <label>Alternative Tile Image or Video</label>
    <div class="form-fields">
        <input id="alt-image-src" class="image" name="altImage.src" value="{{this.altImage}}" title="Test" placeholder="path/image.png" type="text" />
        {{filePicker type="imagevideo" target="altImage.src"}}
    </div>
</div>  